/* In 2024 New Banner Release for specific time period  */
.cx-free-banner-img {
	margin-top: 10px;
	width: 102%;
}
.codesigner-dismissible-notice {
	align-items: center;
	justify-content: space-around;
	display: flex;
	gap: 0px;
	background: url("../img/promo/black-friday.png") no-repeat;
	background-size: contain;
	padding: 11px 0px 9px 0px;
}
.codesigner-dismissible-notice a {
	text-decoration: none;
}
.codesigner-dismissible-notice .codesigner-dismissible-notice-button {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background: linear-gradient(89.92deg, #ff9410 1.31%, #a42dff 100.35%);
	border: none;
	cursor: pointer;
	padding: 10px 22px;
	border-radius: 20px;
}
.codesigner-dismissible-notice a:focus {
	box-shadow: 0 0 0 0 !important;
}
.codesigner-dismissible-notice .codesigner-dismissible-notice-button:hover {
	background: linear-gradient(89.92deg, #2b97ff 1.31%, #a42dff 100.35%);
}
.row-actions .codesigner-get-pro a {
	color: #ff6640;
}
