/* In 2024 New Banner Release for specific time period  */
.cx-free-banner-img {
	margin-top: 10px;
	width: 102%;
}
.notice-info.is-dismissible {
    /* backdrop-filter: blur(22.899999618530273px) */
    background: #1255FF1A;


}
.codesigner-dismissible-notice {
	/* /* padding: 20px; */
    display: flex;
    align-items: center;
    /* gap: 240px; */
    background-size: contain;
    /* background: url(../img/promo/kik-off.png) no-repeat; */
    /* background-position-y: center;
    background-size: cover; */
    /* width: 100%;
    height: 20px; */
}
.codesigner-dismissible-notice a {
	text-decoration: none;
}
.codesigner-dismissible-notice .codesigner-notice-image {
	/* width: 144px;
    height: 15px; */
}

.codesigner-dismissible-notice .codesigner-notice-title{
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.2px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #000000;
}

.codesigner-dismissible-notice .codesigner-notice-title span{
	font-weight: 800;
    background: url(../img/promo/easycommerce_background_image.png) no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-size: 155px;
}
.codesigner-dismissible-notice .codesigner-dismissible-notice-button {
	font-size: 16px;
    font-weight: 500;
    color: #2162FF;
    backdrop-filter: blur(22.899999618530273px);
    border: 2px #2162FF solid;
    padding: 10px 22px;
    border-radius: 22px;
}
.codesigner-dismissible-notice a:focus {
	box-shadow: 0 0 0 0 !important;
}
.codesigner-dismissible-notice .codesigner-dismissible-notice-button:hover {
	/*background: linear-gradient(89.92deg, #2b97ff 1.31%, #a42dff 100.35%);
	transform: scale(1.2);*/
	color: #FFFFFF;
	background: #2162FF;
}
.notice.notice-info.is-dismissible.codesigner-dismissible-notice {
	padding-right: 115px;
}
.row-actions .codesigner-get-pro a {
	color: #ff6640;
}
